#icon{
    width: 60px;
    height: 60px;
}
input{
	color: white;
	background-color: black;
	width: 250px;
}
#find{
	height: 30px;
}
#submit{
    margin-top: 3%;
}
input{
    font-size: 3%;
}
.a {
	text-decoration: none;
}
.title{
    border-radius: 20px;
    background-color: black;
}
#main{
	height: 30px;
}
.games{
    margin-left: 61%
}