/* меню */
html {
 background-color: black;
}
#main{
	height: 30px;
}
#find{
	height: 30px;
}
input{
	color: white;
	background-color: black;
}
.row{
	padding-top: 1%;
}

/* шапка */
header{
	background-image: url("../проект/img/smile.png");
	background-size: cover;
}
.overlay{
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	background: rgba(220, 220, 220, 0.5);
}
