footer{
    text-align: center;
    background-color: black;
    color: white;
}
.carousel-control{
    margin-top: 35%;
}
.carousel-inner{
    margin-top: 3%;
}
.button{
    color: white;
}
body{
    background-image:url(../Проект/1618588493_40-funart_pro-p-oboi-fon-zelenii-fon-temnii-42.jpg);
    background-size: cover;
}
input{
	color: white;
	background-color: black;
	width: 250px;
}
.overlay{
    border-radius: 10px;
    margin-top: 5%;
    width: 40%;
    margin-left: 30%;
    padding-bottom: 25%;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    color: white;
}
#main{
	height: 30px;
}
#find{
	height: 30px;
}
.title{
    border-radius: 20px;
    background-color: black;
}
#submit{
margin-top: 3%;
}
input{
    font-size: 3%;
}
.a {
	text-decoration: none;
}