#main{
	height: 30px;
}
#find{
	height: 30px;
}
input{
	color: white;
	background-color: black;
	width: 250px;
}

.handjet{
  font-family: "Handjet", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "ELGR" 1,
    "ELSH" 2;
}
body {
	font-family: 'PT Sans', sans-serif;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}
.a {
	text-decoration: none;
}
.title{
	padding-top: 5%;
	padding-bottom: 5%;
}
.interesting {
	background: linear-gradient(to right, black,darkred,black);
}
.red{
	background-image: linear-gradient(0deg, orange, red)
}
#reg{
	
}